* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to bottom,
    #540579,
    #501a86,
    #4a2993,
    #4235a0,
    #3540ac,
    #2b4cb8,
    #1d58c3,
    #0064cd,
    #0074d9,
    #0085e4,
    #1695ee,
    #2ca5f7
  );
  /* background-repeat: no-repeat; */
}

.navBar {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  color: whitesmoke;
}
.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.navItems {
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  text-align: center;
  border-radius: 20px;
}
