* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  /* background: hsla(219, 98%, 19%, 1);

  background: linear-gradient(
    90deg,
    hsla(219, 98%, 19%, 1) 0%,
    hsla(204, 53%, 51%, 1) 41%,
    hsla(201, 72%, 59%, 1) 53%,
    hsla(190, 84%, 63%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(219, 98%, 19%, 1) 0%,
    hsla(204, 53%, 51%, 1) 41%,
    hsla(201, 72%, 59%, 1) 53%,
    hsla(190, 84%, 63%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(219, 98%, 19%, 1) 0%,
    hsla(204, 53%, 51%, 1) 41%,
    hsla(201, 72%, 59%, 1) 53%,
    hsla(190, 84%, 63%, 1) 100%
  ); */

  /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#012260", endColorstr="#3F8FC4", GradientType=1 ); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/bg.jpg");
  backdrop-filter: blur(8px);
  background-size: cover;
}

.navBar {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  color: whitesmoke;
}
.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.16);
}

.navItems {
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  text-align: center;
  border-radius: 20px;
}
.dropdown-content-wrapper {
  display: none;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdown:hover .dropdown-content-wrapper {
  margin-top: 5px;
  display: block;
  position: fixed;
  z-index: 1;
  text-align: start;
}
