.main {
  display: grid;
  place-items: center;
  height: 90vh;
  width: 100vw;
}
.chatWrapper {
  background-color: hsla(0, 0%, 100%, 0.2);
  height: 70vh;
  width: 80vw;
  border-radius: 20px;
  padding: 20px;
}

.upperWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20px;
  height: 85%;
  /* background-color: red; */
  overflow-y: scroll;

}

.upperWrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.lowerWrapper {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 0.7rem;
}

.messageBox{
  outline: none;
  border: none;
  font-weight: 500;
  padding: 0.7rem;
  height: 20%;
  width: 93%;
  background-color: hsla(0, 0%, 96%, 0.5);
  text-align: center;
  border-radius: 10px;
}
.messageBox::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.sendArrow{
  transform: rotate(44deg);
  cursor: pointer;
}
.msg{
  height: max-content;
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 0.7rem;
  border-radius: 20px;
  max-width: 60%;
  word-wrap: break-word;
  color: whitesmoke;
}

.msgSent{
  align-self: flex-end;
  text-align: end;
  background-color: hsla(194, 16%, 26%, 0.301);
}

.msgReceived{
  align-self: flex-start;
  background-color: hsla(0, 0%, 21%, 0.223);
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

@media only screen and (min-device-width: 640px) {
  .msg{
    max-width: 50%;
  }
}
@media only screen and (min-device-width: 768px) {
  .msg{
    max-width: 40%;
  }
}
/* @media only screen and (min-device-width: 1024px) {
  .msg{
    max-width: 30%;
  }
} */
